###### This template lets the user define the format of the email message 
###### as well as the ticket and asset information to be passed on
###### All the variables to be used should be enclosed in {} curly brackets.
###### All data under the SUBJECT and BODY section will be part of the 
###### email subject and body respectively.
###### For example you can define your own Priority string based on {$qg_severity}.  
###### The evaluation follows perl-like syntax.

############################################
# Priority: {if ($qg_severity == 5) {
#                   'Critical';
#            } elsif ($qg_severity == 4) {
#                   'Important';
#            } elsif ($qg_severity == 3) {
#                   'Normal';
#           }
# }
############################################

# All possible values from the ticket_list.php and asset_range_info.php

# -------------------------------------------------------------	------------------------
# XPATH for ticket_info.php					tne variable
# -------------------------------------------------------------	------------------------
# TICKET/NUMBER   						$tic_num
# TICKET/CREATION_DATETIME   					$tic_date
# TICKET/CURRENT_STATE   					$tic_state
# TICKET/ASSIGNEE/NAME   					$tic_assignee_name
# TICKET/ASSIGNEE/EMAIL   					$tic_assignee_email
# TICKET/ASSIGNEE/LOGIN   					$tic_assignee_login
# TICKET/DETECTION/IP   					$tic_det_ip
# TICKET/DETECTION/DNSNAME   					$tic_det_dns
# TICKET/DETECTION/NBHNAME   					$tic_det_nbh
# TICKET/DETECTION/PORT   					$tic_det_port
# TICKET/DETECTION/SERVICE   					$tic_det_service
# TICKET/DETECTION/PROTOCOL   					$tic_det_protocol
# TICKET/DETECTION/FQDN   					$tic_det_fqdn
# TICKET/DETECTION/SSL   					$tic_det_ssl
# TICKET/VULNINFO/TITLE   					$tic_vuln_title
# TICKET/VULNINFO/TYPE   					$tic_vuln_type
# TICKET/VULNINFO/QID   					$tic_vuln_qid
# TICKET/VULNINFO/SEVERITY   					$tic_vuln_sev
# TICKET/VULNINFO/STANDARD_SEVERITY   				$tic_vuln_st_sev
# TICKET/DETAILS/DIAGNOSIS   					$tic_det_dia
# TICKET/DETAILS/CONSEQUENCE   					$tic_det_cons
# TICKET/DETAILS/SOLUTION   					$tic_det_sol
# TICKET/DETAILS/RESULT   					$tic_det_result

# -------------------------------------------------------------	------------------------
## ASSET RANGE INFO
# -------------------------------------------------------------	------------------------
# HOST_LIST/HOST/IP    						$host_ip
# HOST_LIST/HOST/TRACKING_METHOD    				$host_trac_meth
# HOST_LIST/HOST/DNS    					$host_dns
# HOST_LIST/HOST/NETBIOS    					$host_netbios
# HOST_LIST/HOST/OPERATING_SYSTEM    				$host_op_sys
# HOST_LIST/HOST/ASSET_GROUPS/ASSET_GROUP_TITLE/TITLE    	$asset_gr_title
# 
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/QID    		$vuln_info_qid
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TYPE    		$vuln_info_type
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/PORT    		$vuln_info_port
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/SERVICE    		$vuln_info_service
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/FQDN    		$vuln_info_fqdn
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/PROTOCOL    		$vuln_info_protocol
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/SSL    		$vuln_info_ssl
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/RESULT    		$vuln_info_result
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/FIRST_FOUND    	$vuln_info_fir_found
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/LAST_FOUND    	$vuln_info_las_found
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TIMES_FOUND    	$vuln_info_times_found
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/VULN_STATUS    	$vuln_info_status
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TICKET_NUMBER    	$vuln_info_tic_num
# HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TICKET_STATE    	$vuln_info_tic_state
#
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/QID/CONTENT   	$vuln_det_qid_cont
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/QID/ID   		$vuln_det_qid_id
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/SEVERITY   		$vuln_det_qid_sev
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/CATEGORY   		$vuln_det_qid_cat
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/CUSTOMIZED   		$vuln_det_qid_cus
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/THREAT   		$vuln_det_qid_threat
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/IMPACT   		$vuln_det_qid_impact
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/SOLUTION   		$vuln_det_qid_sol
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/COMPLIANCE   		$vuln_det_qid_comp
# GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/LAST_UPDATE   	$vuln_det_qid_update
# VULN_DETAILS/CVSS_SCORE/CVSS_TEMPORAL   			$vuln_det_qid_cvss_temp
# VULN_DETAILS/CVSS_SCORE/CVSS_BASE   				$vuln_det_qid_cvss_base
# VULN_DETAILS/VENDOR_REFERENCE_LIST/VENDOR_REFERENCE/URL	$vuln_det_qid_vend_url
# VULN_DETAILS/VENDOR_REFERENCE_LIST/VENDOR_REFERENCE/ID  	$vuln_det_qid_vend_id
# VULN_DETAILS/CVE_ID_LIST/CVE_ID/URL ID   			$vuln_det_qid_cve_id
# VULN_DETAILS/BUGTRAQ_ID_LIST/BUGTRAQ_ID/URL   		$vuln_det_qid_bug_url
# VULN_DETAILS/BUGTRAQ_ID_LIST/BUGTRAQ_ID/ID   			$vuln_det_qid_bug_id
# 

[SUBJECT]
QualysGuard Ticket:{$tic_num} for QID:{$tic_vuln_qid} on IP:{$tic_det_ip}

[BODY]
==================
Date: {$tic_date}
==================
Problem Type:  {$vuln_det_qid_cat}
Priority:      {if ($qg_severity == 5) {
                  'Critical';
           } elsif ($qg_severity == 4) {
                  'Important';
           } elsif ($qg_severity == 3) {
                  'normal';
           }
}
Assignee: {$tic_assignee_name}
----------------------------------------------
Target:{$host_ip}  DNS:{$host_dns } NetBIOS:{$host_netbios } {$newline} 
----------------------------------------------
QualysGuard Ticket:  {$tic_num }
Ticket Issue:        {$tic_vuln_title }

----------------------------------------------
Ticket Information:

TICKET/CREATION_DATETIME  				= {$tic_date }
TICKET/CURRENT_STATE      				= {$tic_state }
TICKET/ASSIGNEE/NAME      				= {$tic_assignee_name }
TICKET/ASSIGNEE/EMAIL     				= {$tic_assignee_email }
TICKET/ASSIGNEE/LOGIN     				= {$tic_assignee_login }

TICKET/DETECTION/IP       				= {$tic_det_ip }
TICKET/DETECTION/DNSNAME  				= {$tic_det_dns }
TICKET/DETECTION/NBHNAME  				= {$tic_det_nbh }
TICKET/DETECTION/PORT     				= {$tic_det_port }
TICKET/DETECTION/SERVICE  				= {$tic_det_service }
TICKET/DETECTION/PROTOCOL 				= {$tic_det_protocol }
TICKET/DETECTION/FQDN     				= {$tic_det_fqdn }
TICKET/DETECTION/SSL      				= {$tic_det_ssl }
TICKET/VULNINFO/TITLE     				= {$tic_vuln_title }
TICKET/VULNINFO/TYPE      				= {$tic_vuln_type }
TICKET/VULNINFO/QID       				= {$tic_vuln_qid }
TICKET/VULNINFO/SEVERITY  				= {$tic_vuln_sev }
TICKET/VULNINFO/STANDARD_SEVERITY  			= {$tic_vuln_st_sev }

========================================================================
TICKET/DETAILS/DIAGNOSIS  				
{$tic_det_dia }

TICKET/DETAILS/CONSEQUENCE				
{$tic_det_cons }

TICKET/DETAILS/SOLUTION   				
{$tic_det_sol }

TICKET/DETAILS/RESULT     				
{$tic_det_result }
========================================================================

----------------------------------------------
Asset Range Host Information:

HOST_LIST/HOST/IP  					= {$host_ip }
HOST_LIST/HOST/TRACKING_METHOD 				= {$host_trac_meth }
HOST_LIST/HOST/DNS  					= {$host_dns }
HOST_LIST/HOST/NETBIOS  				= {$host_netbios }
HOST_LIST/HOST/OPERATING_SYSTEM  			= {$host_op_sys }
HOST_LIST/HOST/ASSET_GROUPS/ASSET_GROUP_TITLE/TITLE  	= {$asset_gr_title }

GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/QID/CONTENT 	= {$vuln_det_qid_cont }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/QID/ID  	= {$vuln_det_qid_id }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/TITLE  		= {$vuln_det_qid_title }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/SEVERITY  	= {$vuln_det_qid_sev }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/CATEGORY  	= {$vuln_det_qid_cat }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/CUSTOMIZED 	= {$vuln_det_qid_cus }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/LAST_UPDATE 	= {$vuln_det_qid_update }
VULN_DETAILS/CVSS_SCORE/CVSS_TEMPORAL 			= {$vuln_det_qid_cvss_temp }
VULN_DETAILS/CVSS_SCORE/CVSS_BASE  			= {$vuln_det_qid_cvss_base }

------------------------------------------------------------

GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/THREAT  		
{$vuln_det_qid_threat }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/IMPACT  		
{$vuln_det_qid_impact }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/SOLUTION  		
{$vuln_det_qid_sol }
GLOSSARY/VULN_DETAILS_LIST/VULN_DETAILS/COMPLIANCE  	
{$vuln_det_qid_comp }

------------------------------------------------------------

VULN_DETAILS/VENDOR_REFERENCE_LIST/VENDOR_REFERENCE/URL 
{$vuln_det_qid_vend_url }
VULN_DETAILS/VENDOR_REFERENCE_LIST/VENDOR_REFERENCE/ID 	
{$vuln_det_qid_vend_id }
VULN_DETAILS/CVE_ID_LIST/CVE_ID/URL ID  				
{$vuln_det_qid_cve_id }
VULN_DETAILS/BUGTRAQ_ID_LIST/BUGTRAQ_ID/URL  			
{$vuln_det_qid_bug_url }
VULN_DETAILS/BUGTRAQ_ID_LIST/BUGTRAQ_ID/ID 				
{$vuln_det_qid_bug_id }

------------------------------------------------------------
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/QID 		= {$vuln_info_qid }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TYPE 		= {$vuln_info_type }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/PORT 		= {$vuln_info_port }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/SERVICE  	= {$vuln_info_service }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/FQDN  		= {$vuln_info_fqdn }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/PROTOCOL 	= {$vuln_info_protocol }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/SSL 		= {$vuln_info_ssl }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/RESULT  	= {$vuln_info_result }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/FIRST_FOUND 	= {$vuln_info_fir_found }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/LAST_FOUND  	= {$vuln_info_las_found }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TIMES_FOUND  	= {$vuln_info_times_found }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/VULN_STATUS 	= {$vuln_info_status }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TICKET_NUMBER  	= {$vuln_info_tic_num }
HOST_LIST/HOST/VULN_INFO_LIST/VULN_INFO/TICKET_STATE  	= {$vuln_info_tic_state }
